body{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240425/pngtree-top-desk-with-blur-restaurant-background-wooden-table-image_15665383.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navi{
    position:fixed;
    width: 100%;
}

.topnav{
    background-color: #A71D45 ;
    color: white !important;

}
.topnav .nav-link {
    color: aliceblue !important;
}
.topnav .navbar-brand{
    
    color: #F7CD46 !important;
}
.nav-link:hover {
    color: #F7CD46 !important;
    font-size: 1.2rem;
}
.logo img{
    display: flex;
    justify-self: center;
    width: 60vw;
    height: 50vw;
}
.menu{ 
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 15vh;   
}
.menu ul{
    background-color: rgba(108, 128, 128, 0.712);
    list-style: none;
    border-radius: 20px;
    text-align: center;
}
.menu ul li a{
    margin: 200px;
    margin-bottom: 50px;

    font-size: 50px;
    color: black;
    text-decoration: none;
    list-style: none;
}
.menu ul li  a:hover{
    color: aqua;
    font-size: 65px;


}
